---
import { ClientRouter } from "astro:transitions";
import jccLogoSmall from "@assets/jcc_small.png";

interface Props {
  title: string;
  serverRouter?: boolean;
}
const { title, serverRouter } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/png" href={jccLogoSmall.src} />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  {!serverRouter && <ClientRouter />}

  <script>
    import { checkUser } from "src/api/utils";
    let ok;

    try {
      ok = await checkUser();
    } catch {
      ok = false;
    }

    if (ok) {
      if (
        window.location.pathname === "/login" ||
        window.location.pathname === "/register"
      ) {
        window.location.pathname = "/";
      }
    } else {
      if (
        window.location.pathname !== "/login" &&
        window.location.pathname !== "/register"
      ) {
        window.location.pathname = "/login";
      }
    }
  </script>
</head>
