---
import SideBar from "@components/SideBar.astro";
import ThemeController from "@components/ThemeController.astro";
import NotificationsButton from "@components/NotificationsButton.astro";
import SettingsDropdown from "@components/SettingsDropdown.astro";
import MenuIcon from "@assets/menu_icon.svg?raw";
---

<div class="drawer lg:drawer-open">
  <input id="sidebar-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="navbar bg-base-100 shadow-sm w-full">
      <div class="flex-none lg:hidden">
        <label
          for="sidebar-drawer"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <Fragment set:html={MenuIcon} />
        </label>
      </div>
      <div class="flex-1 flex justify-center lg:flex-none lg:mx-auto">
        <a href="/" class="text-lg font-bold">Intranet</a>
      </div>
      <ThemeController />
      <NotificationsButton />
      <SettingsDropdown />
    </div>
    <div class="p-2">
      <slot />
    </div>
  </div>
  <div class="drawer-side">
    <label
      for="sidebar-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <SideBar />
  </div>
</div>

<style>
  @media (min-width: 1024px) {
    .drawer-side {
      width: 255px;
    }
  }
</style>
