<fieldset
  class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box"
  id="register-form"
>
  <legend class="fieldset-legend">Registar</legend>

  <label class="fieldset-label">Nome</label>
  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-linejoin="round"
      stroke-linecap="round"
      stroke-width="2.5"
    >
      <path
        d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
      ></path>
    </svg>

    <input
      id="name-input"
      type="text"
      placeholder="Introduza o seu nome"
      required
    />
  </label>
  <p class="validator-hint hidden">Insira um nome</p>

  <label class="fieldset-label">E-mail</label>
  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      ><g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
        ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
          d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></g
      ></svg
    >

    <input
      id="email-input"
      type="email"
      placeholder="Introduza o seu endereço E-mail"
      required
    />
  </label>
  <div class="validator-hint hidden">Insira um endereço E-mail válido</div>

  <label class="fieldset-label">Palavra-Passe</label>
  <label class="input">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      ><g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
        ><path
          d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
        ></path><circle cx="16.5" cy="7.5" r=".5" fill="currentColor"
        ></circle></g
      ></svg
    >

    <input
      id="password-input"
      type="password"
      placeholder="Palavra-Passe"
      required
    />
  </label>

  <button class="btn btn-neutral mt-4" type="submit">
    <span class="loading hidden loading-bars loading-md"></span>
    <span id="register-text">Registar</span>
  </button>
</fieldset>

<script>
  import { registerUser } from "@api/utils";
  import { AlertPosition, AlertType, showAlert } from "@components/Alert/Alert";
  import { elementsToToggle } from "@stores/loading-stores";

  const nameInput = document.getElementById("name-input")! as HTMLInputElement;
  const emailInput = document.getElementById(
    "email-input"
  )! as HTMLInputElement;
  const passwordInput = document.getElementById(
    "password-input"
  )! as HTMLInputElement;

  const registerForm = document.getElementById("register-form")!;
  const registerButton = registerForm.querySelector("button")!;

  const loadingSpinner = registerForm.querySelector(".loading")!;
  const registerText = registerForm.querySelector("#register-text")!;

  elementsToToggle.set([loadingSpinner, registerText]);

  registerButton.addEventListener("click", async (e) => {
    e.preventDefault();

    if (
      !nameInput.checkValidity() ||
      !emailInput.checkValidity() ||
      !passwordInput.checkValidity()
    ) {
      showAlert("Insira valores válidos", AlertType.ERROR, AlertPosition.TOP);
      return;
    }

    registerText.classList.toggle("hidden");
    loadingSpinner.classList.toggle("hidden");

    const ok = await registerUser(
      nameInput.value,
      emailInput.value,
      passwordInput.value
    );

    if (ok) {
      window.location.href = "/";
    } else {
      showAlert("Utilizador já existe", AlertType.ERROR, AlertPosition.TOP);
      registerText.classList.toggle("hidden");
      loadingSpinner.classList.toggle("hidden");
    }
  });

  registerForm.addEventListener("keydown", (e) => {
    if (e.key === "Enter") {
      e.preventDefault();
      registerButton.click();
    }
  });
</script>
