---
import { Image } from "astro:assets";
import jccBigLogo from "@assets/jcc_big.jpg";
import RecursiveMenu from "./RecursiveMenu.astro";

// Define the menu structure
const menuItems = [
  {
    title: "Contratos",
    href: "/contratos",
  },
  {
    title: "Qualidade (SGQ)",
    children: [
      { title: "Certificado" },
      { title: "Manual" },
      {
        title: "PO",
        children: [{ title: "P1" }, { title: "P2" }],
      },
      { title: "Módulos" },
      { title: "Não Conformidade" },
      {
        title: "Fornecedores",
        children: [
          { title: "Lista de Fornecedores Qualificados" },
          { title: "Desempenho do Fornecedor" },
        ],
      },
      { title: "Objetivos de Qualidade" },
      {
        title: "Inquérito de Satisfação",
        children: [{ title: "Clientes Particulares" }, { title: "Outros" }],
      },
      {
        title: "Revisão pela Gestão",
        children: [
          { title: "Relatórios" },
          { title: "Atas" },
          { title: "Análise SWOT" },
          {
            title:
              "Necessidades e Expectativas das Partes Interessadas - Avaliação",
          },
          {
            title:
              "Necessidades e Expectativas das Partes Interessadas - Plano",
          },
        ],
      },
      {
        title: "Auditorias",
        children: [
          { title: "Internas" },
          { title: "Externas" },
          {
            title: "Entidade Certificadora",
            children: [{ title: "Resposta Anterior" }],
          },
        ],
      },
    ],
  },
  {
    title: "Recursos Humanos",
    children: [{ title: "Contratos de Funcionários" }],
  },
  {
    title: "ERS",
    children: [
      { title: "Geral" },
      {
        title: "Proteção Radiológica",
        children: [
          {
            title: "Viana do Castelo",
            children: [{ title: "Licenças" }],
          },
          {
            title: "Braga",
            children: [{ title: "Licenças" }],
          },
          {
            title: "Porto",
            children: [{ title: "Licenças" }],
          },
          {
            title: "Vila Real",
            children: [{ title: "Licenças" }],
          },
        ],
      },
      {
        title: "Inspeção",
        children: [
          {
            title: "Viana do Castelo",
            children: [{ title: "Geral" }, { title: "Proteção Radiológica" }],
          },
          {
            title: "Braga",
            children: [{ title: "Geral" }, { title: "Proteção Radiológica" }],
          },
          {
            title: "Porto",
            children: [{ title: "Geral" }, { title: "Proteção Radiológica" }],
          },
          {
            title: "Vila Real",
            children: [{ title: "Geral" }, { title: "Proteção Radiológica" }],
          },
        ],
      },
    ],
  },
  {
    title: "APA",
  },
];
---

<main class="w-100">
  <aside class="sidebar bg-base-200" transition:persist="true">
    <a href="/" class="sidebar__header">
      <Image height="100" src={jccBigLogo} alt="JCC" />
      <h1 class="sidebar__title font-bold">Gestão Documental</h1>
    </a>
    <nav>
      <RecursiveMenu items={menuItems} isRoot={true} />
    </nav>
  </aside>
</main>

<style>
  .sidebar {
    height: 100vh;
    position: fixed;
    padding: 16px;
    overflow-y: auto;
  }

  .sidebar__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    flex-direction: column;
  }

  .sidebar__title {
    font-size: 24px;
  }
</style>
