---
import { Image } from "astro:assets";
import jccBigLogo from "@assets/jcc_big.svg";
import RecursiveMenu from "@components/RecursiveMenu.astro";
import { menuItems } from "@utils/route-utils";
---

<main class="w-100">
  <aside class="sidebar bg-base-200" transition:persist="true">
    <a href="/" class="sidebar__header">
      <Image height="100" src={jccBigLogo} alt="JCC" />
      <h1 class="sidebar__title font-bold">Gestão Documental</h1>
    </a>
    <nav>
      <RecursiveMenu items={menuItems} isRoot={true} />
    </nav>
  </aside>
</main>

<style>
  .sidebar {
    height: 100vh;
    position: fixed;
    padding: 16px;
    overflow-y: auto;
  }

  .sidebar__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    flex-direction: column;
  }

  .sidebar__title {
    font-size: 24px;
  }
</style>
