---
import { Image } from "astro:assets";
import jccBigLogo from "@assets/jcc_big.jpg";
import RecursiveMenu from "@components/RecursiveMenu.astro";
import type { MenuItem } from "@lib/types/menu";

const menuItems: MenuItem[] = [
  {
    title: "Contratos",
    path: "/contratos",
  },
  {
    title: "Qualidade (SGQ)",
    parentPath: "/qualidade-sgq",
    children: [
      { title: "Certificado", path: "certificado" },
      { title: "Manual", path: "manual" },
      {
        title: "PO",
        parentPath: "po",
        children: [
          { title: "P1", path: "p1" },
          { title: "P2", path: "p2" },
        ],
      },
      { title: "Módulos", path: "modulos" },
      { title: "Não Conformidade", path: "nao-conformidade" },
      {
        title: "Fornecedores",
        parentPath: "fornecedores",
        children: [
          {
            title: "Fornecedores Qualificados",
            path: "fornecedores-qualificados",
          },
          {
            title: "Desempenho do Fornecedor",
            path: "desempenho-do-fornecedor",
          },
        ],
      },
      { title: "Objetivos de Qualidade", path: "objetivos-qualidade" },
      {
        title: "Inquérito de Satisfação",
        parentPath: "inquerito-satisfacao",
        children: [
          { title: "Clientes Particulares", path: "clientes-particulares" },
          { title: "Outros", path: "outros" },
        ],
      },
      {
        title: "Revisão pela Gestão",
        parentPath: "revisao-gestao",
        children: [
          { title: "Relatórios", path: "relatorios" },
          { title: "Atas", path: "atas" },
          { title: "Análise SWOT", path: "analise swot" },
          {
            title: "Necessidades e Expectativas das Partes Interessadas",
            parentPath: "necessidades-expectativas-partes-interessadas",
            children: [
              { title: "Avaliação", path: "avaliação" },
              { title: "Plano", path: "plano" },
            ],
          },
        ],
      },
      {
        title: "Auditorias",
        parentPath: "auditorias",
        children: [
          { title: "Internas", path: "internas" },
          { title: "Externas", path: "externas" },
          {
            title: "Entidade Certificadora",
            children: [
              { title: "Resposta Anterior", path: "resposta-anterior" },
            ],
          },
        ],
      },
    ],
  },
  {
    title: "Recursos Humanos",
    parentPath: "/recursos-humanos",
    children: [
      { title: "Contratos de Funcionários", path: "contratos-funcionarios" },
    ],
  },
  {
    title: "ERS",
    parentPath: "/ers",
    children: [
      { title: "Geral", path: "geral" },
      {
        title: "Proteção Radiológica",
        path: "protecao-radiologica",
      },
      {
        title: "Inspeção",
        path: "inspecao",
      },
    ],
  },
  {
    title: "APA",
    path: "/apa",
  },
];
---

<main class="w-100">
  <aside class="sidebar bg-base-200" transition:persist="true">
    <a href="/" class="sidebar__header">
      <Image height="100" src={jccBigLogo} alt="JCC" />
      <h1 class="sidebar__title font-bold">Gestão Documental</h1>
    </a>
    <nav>
      <RecursiveMenu items={menuItems} isRoot={true} />
    </nav>
  </aside>
</main>

<style>
  .sidebar {
    height: 100vh;
    position: fixed;
    padding: 16px;
    overflow-y: auto;
  }

  .sidebar__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    flex-direction: column;
  }

  .sidebar__title {
    font-size: 24px;
  }
</style>
