---
import { Image } from "astro:assets";
import jccBigLogo from "@assets/jcc_big.jpg";
---

<main class="w-100">
  <aside class="sidebar bg-base-200" transition:persist="true">
    <a href="/" class="sidebar__header">
      <Image height="100" src={jccBigLogo} alt="JCC" />
      <h1 class="sidebar__title font-bold">Gestão Documental</h1>
    </a>
    <nav>
      <ul class="menu bg-base-200 rounded-box w-56">
        <li>
          <details>
            <summary>Gestão de Contratos</summary>
            <ul>
              <li>
                <details>
                  <summary>Tipo de Contrato</summary>
                  <ul>
                    <li>
                      <details>
                        <summary>Eletricidade</summary>
                        <ul>
                          <li>
                            <a href="/contratos/Eletricidade-Viana do Castelo">
                              Viana do Castelo
                            </a>
                          </li>
                          <li>
                            <a href="/contratos/Eletricidade-Braga">Braga</a>
                          </li>
                          <li>
                            <a href="/contratos/Eletricidade-Porto">Porto</a>
                          </li>
                          <li>
                            <a href="/contratos/Eletricidade-Vila Real"
                              >Vila Real</a
                            >
                          </li>
                        </ul>
                      </details>
                    </li>
                    <li>
                      <details>
                        <summary>Água</summary>
                        <ul>
                          <li>
                            <a href="/contratos/Água-Viana do Castelo"
                              >Viana do Castelo</a
                            >
                          </li>
                          <li><a href="/contratos/Água-Braga">Braga</a></li>
                          <li><a href="/contratos/Água-Porto">Porto</a></li>
                          <li>
                            <a href="/contratos/Água-Vila Real">Vila Real</a>
                          </li>
                        </ul>
                      </details>
                    </li>
                    <li>
                      <details>
                        <summary>Limpeza</summary>
                        <ul>
                          <li>
                            <a href="/contratos/Limpeza-Viana do Castelo"
                              >Viana do Castelo</a
                            >
                          </li>
                          <li><a href="/contratos/Limpeza-Braga">Braga</a></li>
                          <li><a href="/contratos/Limpeza-Porto">Porto</a></li>
                          <li>
                            <a href="/contratos/Limpeza-Vila Real">Vila Real</a>
                          </li>
                        </ul>
                      </details>
                    </li>
                    <li>
                      <details>
                        <summary>Impressoras</summary>
                        <ul>
                          <li>
                            <a href="/contratos/Impressoras-Viana do Castelo"
                              >Viana do Castelo</a
                            >
                          </li>
                          <li>
                            <a href="/contratos/Impressoras-Braga">Braga</a>
                          </li>
                          <li>
                            <a href="/contratos/Impressoras-Porto">Porto</a>
                          </li>
                          <li>
                            <a href="/contratos/Impressoras-Vila Real"
                              >Vila Real</a
                            >
                          </li>
                        </ul>
                      </details>
                    </li>
                    <li>
                      <details>
                        <summary>Comunicações</summary>
                        <ul>
                          <li>
                            <a href="/contratos/Comunicações-Viana do Castelo"
                              >Viana do Castelo</a
                            >
                          </li>
                          <li>
                            <a href="/contratos/Comunicações-Braga">Braga</a>
                          </li>
                          <li>
                            <a href="/contratos/Comunicações-Porto">Porto</a>
                          </li>
                          <li>
                            <a href="/contratos/Comunicações-Vila Real"
                              >Vila Real</a
                            >
                          </li>
                        </ul>
                      </details>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </details>
          <li>
            <details>
              <summary>Qualidade (SGQ)</summary>
              <ul>
                <li><a>Certificado</a></li>
                <li><a>Manual</a></li>
                <li>
                  <details>
                    <summary>PO</summary>
                    <ul>
                      <li><a>P1</a></li>
                      <li><a>P2</a></li>
                    </ul>
                  </details>
                </li>
                <li><a>Módulos</a></li>
                <li><a>Não Conformidade</a></li>
                <li>
                  <details>
                    <summary>Fornecedores </summary>
                    <ul>
                      <li><a>Lista de Fornecedores Qualificados</a></li>
                      <li><a>Desempenho do Fornecedor</a></li>
                    </ul>
                  </details>
                </li>
                <li><a>Objetivos de Qualidade</a></li>
                <li>
                  <details>
                    <summary>Inquérito de Satisfação</summary>
                    <ul>
                      <li><a>Clientes Particulares</a></li>
                      <li><a>Outros</a></li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Revisão pela Gestão</summary>
                    <ul>
                      <li><a>Relatórios</a></li>
                      <li><a>Atas</a></li>
                      <li><a>Análise SWOT</a></li>
                      <li>
                        <a
                          >Necessidades e Expectativas das Partes Interessadas -
                          Avaliação</a
                        >
                      </li>
                      <li>
                        <a
                          >Necessidades e Expectativas das Partes Interessadas -
                          Plano</a
                        >
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Auditorias</summary>
                    <ul>
                      <li><a>Internas</a></li>
                      <li><a>Externas</a></li>
                      <li>
                        <details>
                          <summary>Entidade Certificadora</summary>
                          <ul>
                            <li><a>Resposta Anterior</a></li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary>Recursos Humanos</summary>
              <ul>
                <li><a>Contratos de Funcionários</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details>
              <summary>ERS</summary>
              <ul>
                <li><a>Geral</a></li>
                <li>
                  <details>
                    <summary>Proteção Radiológica</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Viana do Castelo</summary>
                          <ul>
                            <li><a>Licenças</a></li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Braga</summary>
                          <ul>
                            <li><a>Licenças</a></li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Porto</summary>
                          <ul>
                            <li><a>Licenças</a></li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Vila Real</summary>
                          <ul>
                            <li><a>Licenças</a></li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details>
                    <summary>Inspeção</summary>
                    <ul>
                      <li>
                        <details>
                          <summary>Viana do Castelo</summary><ul>
                            <li><a>Geral</a></li><li>
                              <a>Proteção Radiológica</a>
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Braga</summary><ul>
                            <li><a>Geral</a></li><li>
                              <a>Proteção Radiológica</a>
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Porto</summary><ul>
                            <li><a>Geral</a></li><li>
                              <a>Proteção Radiológica</a>
                            </li>
                          </ul>
                        </details>
                      </li>
                      <li>
                        <details>
                          <summary>Vila Real</summary><ul>
                            <li><a>Geral</a></li><li>
                              <a>Proteção Radiológica</a>
                            </li>
                          </ul>
                        </details>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
            <li><a>APA</a></li>
          </li>
        </li>
      </ul>
    </nav>
  </aside>
</main>

<style>
  .sidebar {
    height: 100vh;
    position: fixed;
    padding: 16px;
    overflow-y: auto;
  }

  .sidebar__header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    flex-direction: column;
  }

  .sidebar__title {
    font-size: 24px;
  }
</style>
