/* Common styles used in contract forms */

.input:hover::placeholder,
.textarea:hover::placeholder {
  color: var(--color-base);
}

.select:not(.clear) {
  opacity: 0.7;
}

input,
.textarea,
.select {
  width: 100%;
}

.select:hover,
.textarea:hover,
.select:focus,
input:focus,
input:hover {
  border-color: var(--color-secondary);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  opacity: 1;
}

@media (max-width: 40rem) {
  .fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fieldset-legend {
    align-self: flex-start;
    margin-left: 5%;
    width: auto;
  }

  input,
  .textarea,
  .select {
    width: 90%;
  }
}
