
<ul
    class="menu bg-base-100 w-full rounded-box border border-base-content/10 mb-4"
>
    <li>
        <a href="/">
            <i class="fa-solid fa-indent"></i>
            Início
        </a>
    </li>
    <li>
        <a href="/vacations/">
            <i class="fa-solid fa-umbrella-beach"></i>
            Férias
        </a>
    </li>
    <!-- Add more static menu items here as needed -->
</ul>
