---
import Layout from "@layouts/Layout.astro";
import Collapse from "@components/common/Collapse.svelte";
import ProfessionalCategoriesTableLoader from "@components/work-contracts/ProfessionalCategoriesTableLoader.svelte";

import "@styles/form.css";
---

<Layout title="Categorias Profissionais">
  <Collapse client:load>
    <span slot="title">Upload</span>
    <form
      slot="content"
      id="category-form"
      class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-2 rounded-sm shadow-sm"
    >
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Nome:</legend>
        <input
          required
          type="text"
          class="input"
          placeholder="Nome"
          name="name"
        />
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Descrição (opcional):</legend>
        <textarea class="textarea" placeholder="Descrição" name="description"
        ></textarea>
      </fieldset>

      <div class="flex justify-between sm:col-span-2">
        <button type="reset" class="btn btn-error">Limpar</button>
        <button type="submit" class="btn btn-primary">
          <span class="hidden loading loading-bars loading-md"></span>
          <span id="submit-text">Enviar</span>
        </button>
      </div>
    </form>
  </Collapse>
  <Collapse client:load>
    <span slot="title">Lista de Categorias</span>
    <div slot="content">
      <ProfessionalCategoriesTableLoader client:load />
    </div>
  </Collapse>
</Layout>

<script>
  import { showAlert, AlertPosition, AlertType } from "@components/alert/alert";
  import { uploadWorkContractCategory } from "@api/utils";
  import { elementsToToggle } from "@stores/loading-stores";
  import type { WorkContractCategory } from "@lib/types/work-contracts";
  import { newCategory } from "@stores/work-contract-stores";

  document.addEventListener("astro:page-load", () => {
    if (
      window.location.pathname !== "/recursos-humanos/categorias-profissionais/"
    ) {
      return;
    }
    const form: HTMLFormElement = document.getElementById(
      "category-form"
    )! as HTMLFormElement;
    const submitText = document.getElementById("submit-text")!;
    const loading = document.querySelector(".loading")!;

    elementsToToggle.set([loading, submitText]);

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      submitText.classList.toggle("hidden");
      loading.classList.toggle("hidden");

      const formData = new FormData(form);
      const name = formData.get("name") as string;
      const description = formData.get("description") as string;

      const [ok, categoryId] = await uploadWorkContractCategory(
        name,
        description
      );

      loading.classList.toggle("hidden");
      submitText.classList.toggle("hidden");
      if (ok) {
        const now = new Date();
        const nowString = now.toLocaleString("pt-PT");
        const category: WorkContractCategory = {
          name,
          description,
          createdAt: nowString,
          updatedAt: nowString,

          __searchName: name.normalize("NFKD").replace(/[\u0300-\u036f]/g, ""),
          __searchDescription: description
            .normalize("NFKD")
            .replace(/[\u0300-\u036f]/g, ""),
          __createdAtDate: now,
          __updatedAtDate: now,
        };

        newCategory.set({ id: categoryId, category });

        form.reset();
        showAlert(
          "Categoria criada com sucesso!",
          AlertType.SUCCESS,
          AlertPosition.TOP
        );
      } else {
        showAlert(
          "Erro ao criar categoria. Por favor, tente novamente.",
          AlertType.ERROR,
          AlertPosition.TOP
        );
      }
    });
  });
</script>
