---
import CommonHead from "@components/common/CommonHead.astro";
import NavBar from "@components/navbar/NavBar.astro";
import "@assets/app.css";
import { initializeAuthCheck } from "@stores/auth-store";

interface Props {
    title: string;
    notRenderNav?: boolean;
    serverRouter?: boolean;
}
const { title, notRenderNav, serverRouter } = Astro.props;

initializeAuthCheck();
---

<!doctype html>
<html lang="pt" data-theme="corporate">
    <CommonHead title={title} serverRouter={serverRouter} />

    <body class="bg-base-300">
        <div id="toast-top" class="z-1000 toast toast-top toast-center"></div>
        <div
            id="toast-bottom-right"
            class="z-1000 toast toast-center toast-middle text-lg scale-125 w-96"
        >
        </div>

        {
            !notRenderNav && (
                <NavBar>
                    <slot />
                </NavBar>
            )
        }
        {notRenderNav && <slot />}
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        min-width: 100%;
        overflow-y: auto;
        scrollbar-gutter: unset;
    }

    /* html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
      scrollbar-gutter: stable both-edges;
    }
     html {
         height: 100%;
     }
     body {
         min-height: 100%;
         display: flex;
         flex-direction: column;
     }
     #__astro-root {
         flex: 1;
         display: flex;
         flex-direction: column;
     } */
</style>
