---
import CommonHead from "@components/CommonHead.astro";
import NavBar from "@components/NavBar.astro";
import "../assets/app.css";

interface Props {
  title: string;
  notRenderNav?: boolean;
  serverRouter?: boolean;
}
const { title, notRenderNav, serverRouter } = Astro.props;
---

<!doctype html>
<html lang="pt" data-theme="corporate">
  <CommonHead title={title} serverRouter={serverRouter} />

  <body class="bg-base-300">
    <div id="toast-top" class="z-1000 toast toast-top toast-center"></div>
    <div id="toast-bottom-right" class="toast toast-end"></div>

    {
      !notRenderNav && (
        <NavBar>
          <slot />
        </NavBar>
      )
    }
    {notRenderNav && <slot />}
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 100%;
    overflow-y: auto;
  }
</style>
