---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import Collapse from "@components/Collapse.svelte";

export function getStaticPaths() {
  const contratos = [
    "Eletricidade",
    "Água",
    "Limpeza",
    "Impressoras",
    "Comunicações",
  ];
  const cidades = ["Viana do Castelo", "Braga", "Porto", "Vila Real"];

  const paths = contratos.flatMap((contrato) =>
    cidades.map((cidade) => ({ params: { contrato, clinica: cidade } }))
  );

  return paths;
}

const { contrato, clinica } = Astro.params;
---

<Layout title=`${contrato} - ${clinica}`>
  <div class="flex items-center justify-between">
    <h1 class="text-xl font-medium">{contrato} - {clinica}</h1>
    <label class="input">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        ><g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
          ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
          ></path></g
        ></svg
      >
      <input
        id="search-input"
        type="search"
        class="grow"
        placeholder="Pesquisar"
      />
      <kbd class="kbd kbd-sm">CTRL</kbd>

      <kbd class="kbd kbd-sm">L</kbd>
    </label>
  </div>

  <Collapse client:load title="Formulário"> teste de collapse </Collapse>
</Layout>

<script>
  const searchInput = document.getElementById("search-input")!;

  window.addEventListener("keydown", (event) => {
    if (event.ctrlKey && event.key === "l") {
      event.preventDefault();
      searchInput.focus();
    } else if (event.key === "Escape") {
      event.preventDefault();
      searchInput.blur();
    }
  });
</script>
