---
import LoginFieldset from "@components/LoginFieldset.astro";
import LoginRegisterLayout from "@layouts/LoginRegisterLayout.astro";
---

<LoginRegisterLayout title="Iniciar Sessão">
  <LoginFieldset />
  <div class="mt-4 text-center">
    <p>
      Ainda não tem conta? <a href="/registo" class="link link-primary"
        >Crie uma aqui</a
      >
    </p>
  </div>
</LoginRegisterLayout>
