---
import LoginRegisterLayout from "@layouts/LoginRegisterLayout.astro";
import RegisterFieldset from "@components/register/RegisterFieldset.astro";
---

<LoginRegisterLayout title="Registo">
  <RegisterFieldset />
  <div class="mt-4 text-center">
    <p>
      Já tem uma conta? <a href="/iniciar-sessao/" class="link link-primary"
        >Inicie sessão aqui</a
      >
    </p>
  </div>
</LoginRegisterLayout>
